.modal {
  position: fixed;
  background-color: rgba(253, 253, 253, 0.5);
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(10px) grayscale(90%);
  transition: all 0.2s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
  animation: fadeIn .3s;
}

.modal-hidden {
  transition: all 0.1s ease-out;
  pointer-events: none;
  user-select: none;
  backdrop-filter: blur(0) grayscale(0%);
  opacity: 0;
}

@keyframes fadeIn {
  from {
    backdrop-filter: blur(0) grayscale(0%);
    opacity: 0;
  } 
  to {
    backdrop-filter: blur(10px) grayscale(90%);
    opacity: 1;
  }
}